<div ng-controller="LiveController" class="full-height">
  <div class="full-height">
    <div class="backdrop">
      <div class="wash"></div>
      <div class="line"></div>
    </div>

    <div class="container">
      <div class="row main live">
        <div class="col-xs">
          <div class="row">
            <div class="col-xs">
              <h1 class="page-title">SEC Election Live Results</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-xs position" ng-repeat="position in data">
              <h1 class="title">{{ position.name }}</h1>

              <div class="candidates">
                <div class="candidate" ng-repeat="(i, candidate) in position.candidates">
                  <div class="avatar">?</div>
                  <div class="info">
                    <h2>Candidate {{ getLetter(i) }}</h2>

                    <div class="meter">
                      <div class="fill" ng-style="{ width: candidate.percentage + '%' }"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
