<div ng-controller="LiveController" class="full-height">
  <div class="full-height">
    <div class="backdrop">
      <div class="wash"></div>
      <div class="line"></div>
    </div>

    <div class="container fit">
      <div class="row main live">
        <div class="col-xs">
          <div class="row">
            <div class="col-xs">
              <h1 class="page-title">SEC Election Live Results</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4 position" ng-repeat="entry in data">
              <h1 class="title">{{ entry.position.name }}</h1>

              <div class="candidates">
                <div class="candidate" ng-repeat="(i, candidate) in entry.candidates">
                  <div class="avatar">
                    <img ng-src="{{ candidate.photo }}" ng-if="candidate.photo != null" />
                    <span ng-if="candidate.photo == null">?</span>
                  </div>

                  <div class="info">
                    <h2>{{ candidate.name }}</h2>

                    <div class="row">
                      <div class="col-xs-8">
                        <div class="meter">
                          <div class="fill" ng-style="{ width: candidate.percentage + '%' }"></div>
                        </div>
                      </div>

                      <div class="col-xs-4 percentage-container">
                        <span class="percentage">{{ candidate.percentage }}%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
